html,body{ 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#blob {
    position: absolute;
    border-radius: 50%;
    background: #d21a3c;
    width: 200px;
    height: 200px;
    top: -1000px;
    translate: -50% -50%;
}

#blur {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(64px);
    cursor: none;
}

* {
    font-family: sans-serif;
    color: white;
     /* * Debuging  */
     /* outline: rgba(255, 255, 255, 0.5) 4px solid; */
    
}

body {
    background-color: #232323;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

main div.one {
    position: relative;
    background-color: #333333;
    border-radius: 8px;
    border: solid #F23a5c 3px;
    transition-duration: .2s;
    padding: 10px 10px 50px 20px;
    overflow: hidden;
    height: 110px;
    width: 300px;
}

main div.one:hover {
    box-shadow: #F23a5c 3px 3px 0px;
}


main div.one h1 span {
    font-size: 16px;
}

main div.one ul {
    list-style: none;
    position: absolute;
    bottom: 0;
}

main div.one ul li {
    float: right;
}

main div.one ul li a {
    text-decoration: none;
    padding: 8px;
    padding-inline: 6px;
    background-color: #434343;
    border-radius: 4px;
    margin-inline: 4px;
    border: solid #F23a5c 2px;
    transition-duration: .3s;
}

main div.one ul li a:hover {
    box-shadow: #F23a5c 2px 2px 0px;
}

main div.two {
    background-color: #333333;
}

main div.two ul {
    list-style: none;

}
main div.two li {
    float: left;
}

main div.two button {
    background-color: #333333;
    border: none;
    padding: 8px 8px 8px 8px;
    z-index: 1;
    transition-duration: .2s;
    margin-inline: 4px;
}

main div.two button.active {
    outline: 3px #F23a5c solid;
}

main div.one div {
    position: absolute;
    height: 150px;
    width: 300px;
    top: 170px;
    transition-duration: .4s;
}

main div.one div.active {
    top: 10px;
}

main div.free span {
    font-weight: 200;
}